player-connection-mode=Listen
player-connection-guid=2559507411
player-connection-debug=0
player-connection-project-name=Parking Environment
player-connection-ip=172.22.205.48
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=1b13cdaf95de499aa31d3a582a826ae2
